<section *transloco="let t prefix:translocoPath">
  <div class="title-container">
    <h1>{{t('title')}}</h1>
    <h2>{{t('subtitle')}}</h2>
  </div>
  <step-bar-login [stepActive]="1" />
  <div class="info-form-container">
    <h3>{{t('form-title')}}</h3>
    <ul>
      <li><p>- {{t('form-criteria-0')}}</p></li>
      <li><p>- {{t('form-criteria-1')}}</p></li>
      <li><p>- {{t('form-criteria-2')}}</p></li>
      <li><p>- {{t('form-criteria-3')}}</p></li>
    </ul> 
    <create-password-form/>
  </div>
</section>