<div class="form-container">
  <form [formGroup]="itemForm">
    <h1>Adicionar/Editar</h1>
    <img-upload-item
      formControlName="Icon"
      (ngModelChange)="handleIconChange($event)"
    />

    <input-text 
      label="Cor do fundo"
      formControlName="Color"
    />
    <input-text 
      label="Nome do item"
      formControlName="Name"
    />
    <input-number 
      label="Quantidade mínima"
      [min]="0"
      formControlName="MinimumQuantity"
    />
    <expiration-time-selector
      formControlName="Expiration"
    />
  
    <input-number 
      label="Quantidade padrão"
      [min]="0"
      formControlName="Quantity"
    />
    
  </form>
  <confirmation-buttons
    confirmLabel="Salvar"
    denyLabel="Cancelar"
    (confirmClick)="handleSubmit()"
    [isConfirmLoading]="isLoading"
    (denyClick)="handleCancel()"
  />
</div>
