<div class="form-container">
  <form [formGroup]="itemForm">
    <h1>Adicionar/Editar</h1>
    <img-upload-item
      formControlName="icon"
      (ngModelChange)="handleIconChange($event)"
      [fileUrl]="iconLink"
      [backgroundColor]="itemForm.get('color')?.value"
    />
    
    <input-color-picker
      formControlName="color"
      label="Cor do Item"
    />
    
    <input-text 
      label="Nome do item"
      formControlName="name"
    />
    <div class="input-weight-container">
      <input-number 
        label="Peso do item(g)"
        [min]="0"
        formControlName="weight"
        information="Utilizamos inteligência artificial para estimar o peso do item, este mesmo peso será utlizado no cálculo do desperdício alimentar(Food Waste Index)"
        informationPosition="bottom"
      />
      <app-button
        label="Vai!"
        [isLoading]="isLoadingWeight"
        (click)="getRecommendedItemWeight()"
      />
    </div>
    <input-number 
      label="Quantidade mínima"
      [min]="0"
      formControlName="minimumQuantity"
      information="Aqui você vai definir quado o  item será adicionado a lista de compras. Caso a quantidade seja 1, o item aparecerá na lista de compras quando restar 1 unidade."
    />
    <expiration-time-selector
      formControlName="expiration"
    />
  
    <input-number 
      label="Quantidade padrão"
      [min]="0"
      formControlName="quantity"
    />
    
    <app-button 
        class="remove-button"
        label="Excluir" 
        severity="danger"
        (click)="handleDangerClick()"
        primeIcon="pi pi-trash"
        [isLoading]="isRemoveLoading"
        *ngIf="editingItemId"
        />
    <confirmation-buttons
      confirmLabel="Salvar"
      denyLabel="Cancelar"
      (confirmClick)="handleSubmit()"
      [isConfirmLoading]="isLoading"
      (denyClick)="handleCancel()"
    />
  </form>
</div>
