<div *transloco="let t; prefix:translocoPath"  class="form-container">
  <form [formGroup]="itemForm">
    <h1>{{t('title')}}</h1>
    <img-upload-item
      formControlName="icon"
      (ngModelChange)="handleIconChange($event)"
      [fileUrl]="iconLink"
      [backgroundColor]="itemForm.get('color')?.value"
    />
    
    <input-color-picker
      formControlName="color"
      [label]="t('input-color-picker-label')"
    />
    
    <input-text 
    [label]="t('input-name-label')"
      formControlName="name"
    />
    <div class="input-weight-container">
      <input-number 
        [label]="t('input-weight-label')"
        [min]="0"
        formControlName="weight"
        [information]="t('input-weight-information')"
        informationPosition="bottom"
      />
      <app-button
        [label]="t('input-weight-button-label')"
        [isLoading]="isLoadingWeight"
        (click)="getRecommendedItemWeight()"
      />
    </div>
    <input-number 
      [label]="t('input-weight-minimum-quantity-label')"
      [min]="0"
      formControlName="minimumQuantity"
      [information]="t('input-minimum-quantity-information')"
    />
    <expiration-time-selector
      [label]="t('expiration-time-selector-label')"
      formControlName="expiration"
    />
  
    <input-number 
      [label]="t('input-quantity-label')"
      [min]="0"
      [information]="t('input-quantity-information')"
      formControlName="quantity"
    />
    
    <app-button 
        class="remove-button"
        [label]="t('button-remove-item-label')"
        severity="danger"
        (click)="handleDangerClick()"
        primeIcon="pi pi-trash"
        [isLoading]="isRemoveLoading"
        *ngIf="editingItemId"
        />
    <confirmation-buttons
      [confirmLabel]="t('confirm-label')"
      [denyLabel]="t('deny-label')"
      (confirmClick)="handleSubmit()"
      [isConfirmLoading]="isLoading"
      (denyClick)="handleCancel()"
    />
  </form>
</div>
