
<ng-container *transloco="let t; prefix:translocoPath" >


<div  class="label-container">
  <label>{{t('label')}}</label>
  <label>{{getFormatedDate(value)}}</label>
</div>
<ol>
  <li (click)="handleClick(5)" 
      [ngClass]="{'active': isActive(5)}"
  >
    <chip [label]="'5 '+t('button-label')"></chip>
  </li>
  <li (click)="handleClick(10)"
  [ngClass]="{'active': isActive(10)}"
  >
  <chip [label]="'10 '+t('button-label')"></chip>
  </li>
  <li (click)="handleClick(15)"
  [ngClass]="{'active': isActive(15)}"
  >
  <chip [label]="'15 '+t('button-label')"></chip>
  </li>
  <li
  (click)="showDatePicker = !showDatePicker"
  [ngClass]="{'active': hadleCustomActive()}">

    <chip>
      <prime-icon name="pi pi-calendar" size="1.2rem"></prime-icon>
    </chip>
  </li>
</ol>
<popup  [title]="t('popup-title')" [(ngModel)]="showDatePicker" >

  <div content class="content">
    <p-datepicker  
      [(ngModel)]="value" 
      [inline]="true" 
      [showWeek]="false" 
    />
  </div>

  <div class="footer" footer>
    <app-button  
      class="footer-button"
      (click)="showDatePicker = false"
      >{{t('popup-confirm-button')}}
    </app-button>
  </div>
</popup>

</ng-container>