.button-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .2rem;
}

app-button{
    width: 100%;
}    


@media (min-width: 600px) {
    app-button{
        width: 200px;
    }  

    .button-container{
        gap: 2rem; 
    }
  }


