.p-drawer {
  background-color: var(--primary-color-lighter) !important;
  border-radius: 0  16px  16px 0;
  padding: 1rem;
}

.p-drawer nav{
  border-radius: 4px;
  padding: .4rem;
  border-bottom: 4px solid var(--background-color);
  
}

.active{
box-shadow: 5px 5px 5px 1px var(--background-color);
}

.p-drawer-title {
  color:var(--background-color)
}