<form *transloco="let t prefix:translocoPath" [formGroup]="userForm">
  <input-text
    [label]="t('name-label')"
    formControlName="firstName"
  />
  <input-text
    [label]="t('last-name-label')"
    formControlName="lastName"
  />
  <input-text
    [label]="t('email-label')"
    formControlName="email"
  />
  <div class="date-picker-container">
    <label for="">{{t('birth-date-label')}}</label>
    <p-datepicker 
      [fluid]="true" 
      [dateFormat]="t('birth-date-format')" 
      formControlName="birthDate"
      dataType="string"
      
      />
  </div>
  <confirmation-buttons
    [confirmLabel]="t('confirm-label')"
    [denyLabel]="t('deny-label')"  
    (confirmClick)="handleConfirmClick()"
    (denyClick)="handleDenyClick()"
  />
</form>