form{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}
input-text,input-number,confirmation-buttons{
  width: 100%;
}

.date-picker-container{
  width: 100%;
}

.date-picker-container p-datepicker{
  width: 100%;
}

