.input-number-outer-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}

.input-container{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border:2px solid var(--background-color);
  border-radius: 32px;
  
}

.input-container .p-inputnumber{
  padding: 0 !important;
  border: none;
  
  
  
}
.input-container .p-inputtext,.input-container .p-inputtext:focus{
  color:var(--background-color);
  background: transparent ;
  border: none !important;
  text-align: center;
  

}

input-number{
  width: 100%;
}


.custom-button{
  width: 4rem;
  background-color: var(--background-color) ;
  padding: .2rem;
  height: 2.4rem;
  transition: all .1s ease-in-out;
}

.custom-button:is(:active,:hover){
  
  cursor: pointer;
  background-color: var(--accent-color-lighter);
  
}

.minus{
  border-radius: 32px  0  0 32px;
 
}

.plus{
  border-radius: 0  32px  32px 0;
  border: none;
}