.language-list-container{
  display: flex;
  width: 100%;
  max-width: 600px;
  align-items: center;
  justify-content: flex-start;
  gap:1rem;
  padding: .4rem .6rem;
  background-color: var(--accent-color-lighter);
  border-radius: 4px;
  box-shadow: 1px 1px 4px 1px grey;
}
  

.language-list{
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  gap: 1rem;
}

.language-list li{
  padding: .8rem;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--back)
}

.active-language{
  background-color: var(--primary-color-lighter);
  box-shadow: 1px 1px 4px 1px grey
}
  


prime-icon{
  color:var(--background-color);
}