<div *transloco="let t; prefix:translocoPath"  
      class="form-container" [ngStyle]="{'background-color':backgroundColor}">
    <form [formGroup]="itemForm">
    <h1>{{itemName}}</h1>
    <img-upload-item
      [fileUrl]="iconLink"f
    />
    
    <input-number 
      [label]="t('input-quantity-label')"
      [min]="0"
      [information]="t('input-quantity-information')"
      formControlName="minimunQuantity"
    />
    <expiration-time-selector
      [label]="t('expiration-time-select-label')"
      formControlName="expiration"
    />

    <app-input-number-buttons
      [label]="t('app-input-number-buttons-label')"
      formControlName="quantity"
    />

    <app-button 
      class="remove-button"
      [label]="t('button-remove-label')" 
      severity="danger"
      (click)="handleDangerClick()"
      primeIcon="pi pi-trash"
      [isLoading]="isRemoveLoading"
      />

    <confirmation-buttons
      [confirmLabel]="t('confirm-label')"
      [denyLabel]="t('deny-label')"
      (denyClick)="handleDenyClick()"
      (confirmClick)="handleConfirClick()"
       [isConfirmLoading]="isLoading"
      />
  </form>
    
</div>

