fieldset{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.p-inputtext{
    font-size: var(--input-font-size);
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    
}

label{
    display: flex;
    align-items:  center;
    justify-content: flex-start;
    gap:.4rem;
}