button{
  position: relative;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  
  transition: all .4s ease-in-out;
 
}

.item-img{
  width: 40px;
  height: 40px;
}

button {
  cursor: pointer;
}

.quantity{
  position: absolute;
  top: 0;
  left: 0;
  padding: .4rem;
}

.editing{
  animation: shake .6s ease-in-out infinite;
}

@keyframes shake{
  0%{
    transform: rotate(0deg);
    scale: 1;
  }
  25%{
    transform: rotate(-5deg);
    scale: 1.01;
  }
  50%{
    transform: rotate(0deg);
    scale: 1;
  }
  75%{
    transform: rotate(5deg);
    scale: 1.01;
  }
  100%{
    transform: rotate(0deg);
    scale: 1;
  }
}