button{
  position: relative;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  color: var(--background-color);
  transition: all .4s ease-in-out;
 
}

button :is(:hover,:active){
  cursor: pointer;
 

}

.quantity{
  position: absolute;
  top: 0;
  left: 0;
  padding: .4rem;
}