.popup{
    background: var(--detail-color) !important;
    border:none !important;
   width: fit-content;
   ;
    
}

.p-dialog-mask{
    backdrop-filter: blur(2px);
}

.p-dialog-header{
    justify-content: center !important;
}

