<confirmation-popup 
  *transloco="let t; prefix: translocoPath"
  [title]="t('title')"
  [ngModel]="visible"
  (ngModelChange)="handleChange($event)"
  [confirmLabel]="t('confirm-label')"
  (confirmClick)="addItemsToFridge()"
  [denyLabel]="t('deny-label')"
  (denyClick)="handleClose()"
  [isConfirmLoading]="isLoading"
>
  <section class="form-container">
    <input-select 
     [label]="t('input-select-label')"
     [information]="t('input-select-information')"
     [fluid]="true"
     [options]="items"
     optionLabel="name"
     labelColor="var(--background-color)"
     (change)="handleAddItemsToList($event)"
     (onClear)="handleSelectClear()"
     [showClear]="true"
     [(ngModel)]="tempSelectedItem"
     
     
    />

    <ul class="item-list">
      <li *ngFor="let item of selectedItems">
        <chip 
          [label]="item.name" 
          [removable]="true"
          (onRemove)="handleItemRemove(item)"  
        />
      </li>
    </ul>

  </section>
</confirmation-popup>
