<confirmation-popup title="Busque os Itens"
  [ngModel]="visible"
  (ngModelChange)="handleChange($event)"
  confirmLabel="Salvar"
  (confirmClick)="addItemsToFridge()"
  denyLabel="Cancelar"
  (denyClick)="close.emit(true)"
  [isConfirmLoading]="isLoading"
>
  <section class="form-container">
    <input-select 
     label="Guarde na sua geladeira!"
     information="Os itens selecionados aqui serão adicionados a sua geladeira"
     [fluid]="true"
     [options]="items"
     optionLabel="name"
     labelColor="var(--background-color)"
     (change)="handleAddItemsToList($event)"
     (onClear)="handleSelectClear()"
     [showClear]="true"
    />

    <ul class="item-list">
      <li *ngFor="let item of selectedItems">
        <chip 
          [label]="item.name" 
          [removable]="true"
          (onRemove)="handleItemRemove(item)"  
        />
      </li>
    </ul>

  </section>
</confirmation-popup>
