footer{
    width: 100%;
    height: 2rem;    
    background-color: var(--primary-color);
    display:  grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    bottom: 0;
}

.title{
    grid-area: 1/1/3/3;
    font-weight: bold;
}

prime-icon{
    grid-area: 1/1/2/2;
    color: var(--background-color);
}