<form   *transloco="let t prefix:translocoPath" [formGroup]="userForm">
  <div class="info">
    <h5 [ngClass]="{'invalid':lentLessThen8}" >{{t('form-title')}}</h5>
    <ul>
      <li><p [ngClass]="{'invalid':passNotContainsUpper }">- {{t('form-criteria-0')}}</p></li>
      <li><p [ngClass]="{'invalid':passNotContainsLower}">- {{t('form-criteria-1')}}</p></li>
      <li><p [ngClass]="{'invalid':passNotContainsNumber}">- {{t('form-criteria-2')}}</p></li>
      <li><p [ngClass]="{'invalid':passNotContainSpecialChar}">- {{t('form-criteria-3')}}</p></li>
    </ul> 
  </div>
  <input-password
    [label]="t('password-label')"
    formControlName="password"
  />
  <input-password
    [label]="t('password-confirm-label')"
    formControlName="confirmPassword"
  />
  <confirmation-buttons
   [confirmLabel]="t('confirm-label')"
   [denyLabel]="t('deny-label')"
   (denyClick)="handleDeny()"
   (confirmClick)="handleConfirm()"
   [isConfirmLoading]="isLoading"
  />
</form>