<ul >
  <li  *ngFor="let item of fridgeItemsList">
    <item
      [iconLink]="item.iconLink"
      [backgroundColor]="item.color"
      [expirationPercentage]="item.percentageExpired"
      [id]="item.itemId"
      [quantity]="item.quantity"
      (click)="handleClickItem(item)"
      [isEditing]="isMultipleEditing"
    />
  </li>
    
  <li>
    <button-add-item (click)="showPopup = true"/>
  </li> 
</ul>

<confirmation-buttons
class="comfirm-edit-buttons"
  *ngIf="isMultipleEditing"
  confirmLabel="Salvar"
  denyLabel="Cancelar"
  (denyClick)="isMultipleEditing = false"
></confirmation-buttons>

<popup-add-fridge-item 
  [(ngModel)]="showPopup"
  (close)="handleClose()"
  />
<fridge-speed-dial
  (addClick)="handleAddMultiple()"
  (removeClick)="handleRemoveMultiple()"
/>