
<section 
  *transloco="let t; prefix:translocoPath" 
  class="statistic-manage-container"
  >
  
  <page-subtitle
    [information]="t('information')"
    infoPosition="bottom"
  >{{t('label')}}</page-subtitle>
  <ul class="recommended-items-container">
    <li *ngFor="let item of recommendedItems">
      <generic-list-item [backgroundColor]="item.color" [text]="item.name"/>
    </li>
    <li *ngIf="isLoading">
      <skeleton
        width="100%"
        height="4rem"
      />
    </li>
    <li *ngIf="isLoading">
      <skeleton
        width="100%"
        height="4rem"
      />
    </li>
    <li *ngIf="isLoading">
      <skeleton
        width="100%"
        height="4rem"
      />
    </li>

</ul>


</section>
