.login-layout-container{
  
  height: 100%;
  background: rgb(240,240,240);
  background: linear-gradient( 137deg, rgb(240, 240, 240) 0%, rgb(195, 193, 193) 80%);
  padding: 5rem ;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.login-layout-container section{
  height: 80vh !important;
}


.title-container{
  display:  flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  flex-direction: column;
}

.login-layout-container p,
.login-layout-container h1,
.login-layout-container h2,
.login-layout-container h3,
.login-layout-container label{
  color: var( --accent-color-darker) !important;
}

