<form *transloco="let t; prefix: 'identity.user.login.login-form'" [formGroup]="loginForm" (ngSubmit)="login()">
  <input-text 
    [fluid]="true" 
    [label]="t('email-label')"
    [placeholder]="t('email-placeholder')"
    id="email"
    formControlName="Email" 
    autocomplete="username"
  />
  
  <input-password
    [fluid]="true" 
    [label]="t('password-label')"
    [placeholder]="t('password-placeholder')"
    id="senha"
    formControlName="Password"
    autocomplete="current-password"
  
  />
  <confirmation-buttons
    [confirmLabel]="t('confirm-label')"
    (confirmClick)="login()"
    (denyClick)="handleDeny()"
    [denyLabel]="t('deny-label')"
    [isConfirmLoading]="isLoading"
    confirmButtonType="submit"
  />
</form>